html, body {
  height: 100%;
  margin: 0;
}

header {
  height: 10vh;
  width: 100%;
  background-color: #000000;
  text-align: center;
  padding-top: 5vh;
  position: fixed;
}
a {
  font-size: 20px;
  text-decoration: none;
  color: #FFFFFF;
}
a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}
h1#title{
  margin-left: 10vw;
  margin-top:-2vh;
  font-size: 3vw;
  color: #ffffff;
  display: inline-block;
}
div.section {
  background-color: #ffffff;
  width: 80%;
  min-height: 90vh;
  float: left;
  margin-left: 10%;
  margin-right: 10%;
  margin-top:12vh;
}
/*CUSTOMIZE SHIT*/
h1.section-title{}
h2.section-subtitle{}
h3.section-subsubtitle{}
p.section-paragraph{}
/*DROP DOWN MENU SHIT*/
.offset:before {
  display: block;
 	content: " ";
  height: 15vh;      /* Give height of your fixed element */
  margin-top: -15vh; /* Give negative margin of your fixed element */
  top:-90px;
  visibility: hidden;
}
.dropbtn {
    background-color: #f48942;
    padding: 14px;
    border: none;
    cursor: pointer;
}

.dropdown {
    float: right;
    margin-right: 10vw;
    display: inline-block;
    margin-top: -2vh;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #e37831}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #e37831;
}
